<!DOCTYPE html>
<html>
<head>
  <title>WallApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'myMain' %>

</head>
  <body style="background-color: lightblue;" >
    
    <h1> <%= current_user.departmant %> Bölümü </h1>
    <!--
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.reverse.each do |post| %>
          <tr>
            <td><%= post.user %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= link_to 'Show', post %></td>
            <td><% if current_user && post.user == current_user %><%= link_to 'Edit', edit_post_path(post) %> <% end %> </td>
            <td><% if current_user && post.user == current_user %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    -->
    <div style="width: 50%;margin-left: 25%;margin-right: 25%;background-color: white;">
    <p style="background-color: lightblue;"><b><%= link_to 'Yeni gönderi', new_post_path %></b></p>
    <% @posts.reverse.each do |post| %>
        <table border="2">
          <tr>
            <% if current_user.departmant == post.user.departmant %>
              <td>
                <p><%= post.title %> posted by <b><%= post.user %></b> </p>
                <p><%= time_ago_in_words post.created_at %> ago </p>
                <!--<p><%= post.content %></p> -->
                <p><%= link_to 'Göster', post %> ( <%= post.likes.count %> beğeni , <%= post.comments.count %>   yorum )</p>
                <p><% if current_user && post.user == current_user %><%= link_to 'Düzenle', edit_post_path(post) %> <% end %> </p>
                <p><% if current_user && post.user == current_user %><%= link_to 'Sil', post, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </p>
              </td>
            <% end %>
          </tr>
        </table>      
    <% end %>


    </div>
  </body>
</html>