<!DOCTYPE html>
<html>
<head>
  <title>WallApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'myStyle' %>
</head>
<body>

<!--
  <header>
    <div class="nav">
      <ul>
        <li><a class="active" href="#"><%= link_to 'Home', root_path %></a></li>
        <li><a href="#"><%= link_to 'Posts', posts_path %></a></li>
        <% if current_user %>
        <li><a href="#">
				<li><%= link_to "Log Out", logout_path %></li>
        	</a>
        </li>
        <% end %>
        <% if current_user.nil? %>
        <li><a href="#">
				 <li><%= link_to "Sign Up", signup_path %></li>
				 <li><%= link_to "Log In", login_path %></li>
		     </a>
        </li>
        <% end %>
      </ul>
    </div>
  </header>
-->
	<div class="nav">
		 <li><%= link_to 'Posts', posts_path %> </li>
		 <% if current_user %>
		 <li><%= link_to "Log Out", logout_path %></li>
		 <% else %>
		 <li><%= link_to "Sign Up", signup_path %></li>
		 <li><%= link_to "Log In", login_path %></li>
		 <% end %>
	</div>




  <img align="center" src="/gtu.png"  height="180" width="300">
	<% flash.each do |key, value| %>
		<%= content_tag(:div, class: "alert alert-#{key}") do %>
	<p><%= value %></p>
	 <% end %>
	<% end %>


<%= yield %>

</body>
</html>
